@using Bulkyweb.Models
@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h2>Edit CATEGORY</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group mb-4">
                    <label asp-for="name"></label>
                    <input asp-for="name" Lines="form-control" class="form-control" />
                    <span class="text-danger" asp-validation-for="name"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="description"></label>
                    <input asp-for="description" class="form-control" />
                    <span class="text-danger" asp-validation-for="description"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-dark">UPDATE</button>
                    <a asp-controller="Category" asp-action="Index" class="btn btn-light">BACK TO LIST</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}